Package: NComp-MSSQL-Toolbox 
Version: 1.0-8
Section: base
Priority: optional
Architecture: amd64
Depends: freetds-dev 
Maintainer: Niel Buys nbuys@ncomp.co.za
Homepage: https://www.ncomp.co.za
Description: Various MSSQL Tools
 Scripting, Compare tables and Import.

