[Desktop Entry]
Encoding=UTF-8
Version=1.0-10
Type=Application
Terminal=false
Exec=/usr/local/bin/CompareMSSQLTables
Name=NComp MSSQL Toolbox
Icon=/usr/local/bin/CompareMSSQLTables.ico
Categories=Utility;

