[Desktop Entry]
Version=1.1
Type=Application
Terminal=false
StartupWMClass=CompareMSSQLTables
Exec=/usr/local/bin/CompareMSSQLTables
Name=NComp SQL Toolbox
Icon=CompareMSSQLTables
Categories=Development;Database;

